.login-page__container {
    background: url("./login_bg.jpg");
    height: 100vh;
    padding: ($spacing-07 * 2) $spacing-07;
    background-position: center;
    color: $ui-01;
    @include carbon--breakpoint(md) {
        padding: $spacing-07 * 2;
    }

    h1 {
        @include carbon--type-style("productive-heading-06");
    }

    p {
        margin-top: $layout-01;
        margin-bottom: $layout-04;
    }

    Form {
        label {
            color: $ui-background;
        }
        input {
            margin-bottom: 1rem;
        }

        .submit-button {
            max-width: 100%;
            width: 100%;
        }
    }
}
