.sms-card {
    padding: $spacing-05;
    background-color: $ui-01;
    margin-bottom: $layout-03;
    border-radius: $spacing-03;

    &:hover {
        cursor: pointer;
        @include layer("pop-out");
    }
    p {
        margin-top: $layout-01 / 2;
        display: none;
    }

    @include carbon--breakpoint(md) {
        p {
            display:block;
        }
    }
}
