// combined styles
@use "sass:math";
@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";
@import "carbon-components/scss/globals/scss/colors.scss";
@import "carbon-components/scss/globals/scss/layer.scss";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

//general settings go here
.bx--side-nav__navigation {
  background-color: $ui-01;
}

.main-content {
  height: 100%;
  margin: $layout-04 0 $layout-04 0;
  padding: $spacing-06;
  width: 100%;
}

.dash-header {
  margin-bottom: $layout-03;
}

.dash-centered-icon {
  display: inline-block;
  position: relative;
  top: 0.2rem;
  margin-right: math.div($layout-01, 2);
}

.centered-icon {
  display: inline-block;
  position: relative;
  top: 0.175rem;
}

.dash-card {
  padding: $spacing-05;
  background-color: $ui-01;
  margin-bottom: $layout-03;
  border-radius: $spacing-03;
}

.modem-card {
  background-color: $ui-01;
  padding: $spacing-06;
  border-radius: $spacing-03;
  margin-bottom: $layout-03;
  &:hover {
    cursor: pointer;
    @include layer("pop-out");
  }
  h3 {
    @include carbon--type-style("productive-heading-03");
  }
  .modem-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $layout-03;
  }
  .modem-card__body {
    text-align: center;
    p {
      margin-top: math.div($layout-01, 2);
      margin-bottom: math.div($layout-01, 2);
    }
  }

  .modem-card__footer {
    .bx--btn-set {
      max-width: 100%;
      width: 100%;
    }
    display: flex;
    justify-content: space-around;
    margin-top: $layout-02;
    button {
      width: 50%;
    }
  }
}

.sms-card {
  padding: $spacing-05;
  background-color: $ui-01;
  margin-bottom: $layout-03;
  border-radius: $spacing-03;

  &:hover {
    cursor: pointer;
    @include layer("pop-out");
  }
  p {
    margin-top: math.div($layout-01, 2);
    display: none;
  }

  @include carbon--breakpoint(md) {
    p {
      display: block;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

// 404
.not-found-container {
  padding: $spacing-06;

  h1 {
    @include carbon--type-style("display-04");
    font-size: carbon--type-scale(12);
  }

  p {
    @include carbon--type-style("body-long-02");
    font-size: carbon--type-scale(5);
    margin: $layout-01 0 $layout-01 0;
  }
}

.about-modal {
  .header-group {
    display: flex;
    align-items: center;
  }
  .logo {
    height: 45px;
    width: 45px;
    margin-right: 4px;
    vertical-align: middle;
  }
  h3 {
    font-weight: bold;
    display: inline;
    vertical-align: middle;
  }
}
