.dash-header {
    padding: $spacing-05;
    margin-bottom: $layout-03;
}
.dash-card {
    padding: $spacing-05;
    background-color: $ui-01;
    margin-bottom: $layout-03;
    border-radius: $spacing-03;
}
