@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";
@import "carbon-components/scss/globals/scss/colors.scss";
@import "carbon-components/scss/globals/scss/layer.scss";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

// import here so they inherit the theme g10
@import "./content/Dashboard/dashboard.scss";
@import "./content/Metrics/metrics.scss";
@import "./content/SMS/sms.scss";
@import "./content/Modem/modems.scss";
@import "./content/Login/login.scss";
@import "./content/Profile/profile.scss";
@import "./content/Settings/settings.scss";


@import "./components/DashHeader/dash_header.scss";

//general settings go here
.bx--side-nav__navigation {
  background-color: $ui-01;
}

#main-content {
  height: 100%;
  margin: $layout-05, 0;
  padding: $spacing-06;
  width: 100%;
}

.dash-card {
  padding: $spacing-05;
  background-color: $ui-01;
  margin-bottom: $layout-03;
  border-radius: $spacing-03;
}

.centered-icon {
  display: inline-block;
  position: relative;
  top: 0.175rem;
}
